<!-- I created this file -->

<%- include('header') %>

<div class="container">
    <h1><%= title %></h1>
    <a href="/profile">Profile</a>
</div>

<!-- Add the ejs markup to include the summary view for each account in the accounts variable: savings, checking, and credit.  -->
<%- include('summary', {account:accounts.savings}) %>
<%- include('summary', {account:accounts.checking}) %>
<%- include('summary', {account:accounts.credit}) %>

<br>
<a href="/services/transfer">Transfer</a>
<!-- <a href="/transfer">Transfer</a> -->

<%- include('footer') %>
